@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.o_titulos_h3 {
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 30px;
    color: #DDDDDD;
    font-size: 200%;
}


