.App {
  text-align: center;
  background-color: #DDDDDD;
}
.iframe{
  overflow-y: hidden;
  overflow-x: hidden;
  width: 85%;
  height: 720px;
  
}

.o_container {
  position: relative;
  text-align: center;
}

.o_imgLanding {
  margin-top: 1rem;
  width: 84%;
  height: 600px;
  object-fit: cover;
}
.videitotry{
  margin-top: 1rem;
  width: 85%;
}

.o_parrafo {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: #DDDDDD;
  text-align: justify;
  margin-right: 12rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.space {
  width: 100%;
  height: 42.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}